html(ng-app="storytimed")
    head
        title!= title
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
    body
        <game-container></game-container>

        script(src="/js/jquery/jquery.min.js")
        script(src="/js/bootstrap/bootstrap.min.js")
        script(src="/js/angular/angular.js")
        script(src="/js/app.js")