* {
    box-sizing: border-box;
}

body {
    background: #333;
    min-width: 480px;
}

aside.players {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    float: left;
    padding: 2em;
    height: 100%;
    background: #eee;
}

.players input[name="username"] {
    margin-bottom: 0.5em;
}

.story-container {
    padding: 0;
    position: relative;
    height: 100%;
    background: #fff;
    width: 100%;
    float: left;
}

.story-container .main {
    padding: 2em;
    height: 100%;
    margin-left: 200px;
}

h1 {
    margin: 0 0 0.5em 0;
}

h1.story-title {
    text-align: left;
}

ul.players-list {
    position: relative;
    list-style: none;
    padding-left: 0.5em;
    margin-bottom: 0.1em;
}

ul.story {
    list-style: none;
    display: inline-block;
    padding: 0;
    height: 100%;
    max-height: 60%;
    width: 100%;
    overflow: scroll;
}

.story li {
    display: inline;
    word-wrap: break-word;
}

textarea {
    resize: none;
    width: 100%;
    margin: 5px 0;
}

form[name="storyForm"] {
    margin-top: 1em;
    text-align: center;
    position: relative;
}