<div class="container story-container" ng-controller="StoryController as storyCtrl">
    <aside class="players" id="players"><h1>Players </h1>
        <input name="username" type="text" ng-model="storyCtrl.username"/>
        <ul class="players-list">
            <li>{{storyCtrl.username}}</li>
            <li ng-repeat="player in game.settings.players">{{player}}</li>
        </ul>
    </aside>
    <div class="main">
        <h1 class="story-title">{{game.settings.title}}</h1>
        <ul class="story">
            <li ng-repeat="storyPoint in storyCtrl.points"><p>{{storyPoint.body}}</p></li>
            <li><p>{{storyCtrl.point.body}}</p></li>
        </ul>
        <form name="storyForm" ng-submit="storyCtrl.addPoint(storyCtrl)">
            <textarea ng-model="storyCtrl.point.body" name="storyPoint" rows="5"></textarea>
            <input class="btn btn-success" type="submit"/>
        </form>
    </div>
</div>